option_settings:
  - option_name: NODE_ENV
    value: 'production'
  - option_name: product
    value: 'https://k8dr3mlnwa.execute-api.eu-west-1.amazonaws.com/dev'
  - option_name: import
    value: 'https://tg1u57frh7.execute-api.eu-west-1.amazonaws.com/dev'
  - option_name: cart
    value: 'https://cxr59lrjga.execute-api.eu-west-1.amazonaws.com/dev/api'